#nav-logo {
    width: 50px;
}

#landing-greeter {
    background-image: url('/static/images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}