{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
   <div class="row">
      <div class="col-5">
         <h2 class="display-4 mx-3">About</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <hr class="border-primary mx-3">
      </div>
   </div>
</div>
<div class="row d-flex justify-content-center my-4">
   <div class="col-3">
      <div class="card">
         <div class="d-flex justify-content-center align-items-center icon-container">
            <img class="card-img-top icon-img" src="/static/images/friends-icon.png" alt="Card image cap">
         </div>
         <div class="card-body">
            <h4>Who is this website for?</h4>
           <p class="card-text">This website is for everybody! It can easily help new players find discs to try, as well as help experienced players find discs they may never heard of before</p>
         </div>
       </div>
   </div>
   <div class="col-3">
      <div class="card">
         <div class="d-flex justify-content-center align-items-center icon-container">
            <img class="card-img-top icon-img" src="/static/images/disc-basket.png" alt="Card image cap">
         </div>
         <div class="card-body">
            <h4>Is there a large disc collection?</h4>
           <p class="card-text">We are currently working on having the largest collection of disc golf discs publicly available.</p>
         </div>
       </div>
   </div>
   <div class="col-3">
      <div class="card">
         <div class="d-flex justify-content-center align-items-center icon-container">
            <img class="card-img-top icon-img" src="/static/images/money.png" alt="Card image cap">
         </div>
         <div class="card-body">
            <h4>Is this website free?</h4>
           <p class="card-text">Yes! Disc golf is meant to be shared by everyone. We want to encourage as many people as possible to go out and play the sport</p>
         </div>
       </div>
   </div>
</div>
<div class="row">
   <div class="col-7 info-img">
      
   </div>
   <div class="col d-flex align-items-center justify-content-center bg-primary text-light">
      <div class="mx-4">
         <p class="lead">
            Virtual Quiver was made with the intention to help all disc golfers find discs they love, whether brand new to the sport, or an experienced player.
            We wanted to create an easy way for you to search discs, get reccomendations, and see stats based on what discs you like to carry in your quiver. 
            We also wanted a platform that aknowledged the fact that discs change their characteristics over time. This is why we have broken in reviews for discs,
            as well as regular reviews. This should help players make educated choices on the discs they want to buy.
         </p>
      </div>
   </div>
</div>

{% endblock %}