<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Virtual Quiver</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/stylesheets/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    
    <link rel="stylesheet" href="/static/stylesheets/style.css">
  
</head>

<body class="{% block body_class %}{% endblock %} bg-off-white">
  <div class="container-fluid bg-grey">
    <div class="row">
      <hr>
    </div>
  </div>
  <div class="container-fluid bg-off-white">
    <div class="row d-flex justify-content-center">
      <div class="col-7">
        <div class="row">
          <div class="col-4 text-center d-flex align-items-center mr-0">
            <h3 class="display-4">Virtual Quiver</h3>
          </div>
          <div class="col-2 ml-0 d-flex justify-content-start">
            <div class="navbar-header">
              <a href="/" class="navbar-brand">
                <img src="/static/images/logo.png" alt="Virtual Quiver logo" id="nav-logo">
              </a>
            </div>
          </div>
          <div class="col-6 d-flex align-items-center">
              <form class="navbar-form w-100" action="/discs/discover/page/1" method="GET">
                  <div class="input-group">
                      <input name="disc_name" class="form-control" placeholder="Search Discs" id="search">
                      <div class="input-group-append">
                          <button class="btn btn-default">
                              <span class="fa fa-search"></span>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
<nav class="navbar navbar-expand navbar-dark bg-grey">
  <div class="container-fluid">
    <div>

    </div>
    <ul class="nav navbar-nav navbar-right">
     
      {% if not current_user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="/">My Quiver</a></li>
      <li class="nav-item"><a class="nav-link" href="/discs/wishlist">My Wishlist</a></li>
      <li class="nav-item"><a class="nav-link" href="/discs/discover/page/1">Discover Discs</a></li>
      <li class="nav-item"><a class="nav-link" href="/discs/recommendations">Recommendations</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="/users/profile/{{current_user.id}}">My Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
      
      {% endif %}
    </ul>
  </div>
</nav>
<div class="container-fluid">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} w-100 text-center">{{ message }}</div>
    {% endfor %}
  
</div>
<div class="container-fluid min-vh-100 px-0 mw-100">
  {% block content %}

  {% endblock %}
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/javascript/ui.js"></script>
<script src="/static/javascript/ajax.js"></script>
</body>
<footer>
  <div class="container-fluid bg-grey pt-2 mw-100">
    <div class="row d-flex justify-content-center">
     
      <div class="col-6 d-flex align-items-center justify-content-center">
        <h4 class="text-light mr-4">Virtual Quiver</h4>
        <img src="/static/images/logo.png" alt="Virtual Quiver logo" id="footer-logo">
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4 text-center">
        <p class="text-light">This website is for educational purposes only</p>
      </div>
    </div>
  </div>
</footer>
</html>