{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="landing-greeter" >
    <h2>Welcome {{user.username}}</h2>
    <p>Lets find some discs!</p>
</div>
<h2>{{user.username}}'s Quiver</h2>
<div class="row" id="discs-display-container">
    {% for d in users_discs %}
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{d.image_url}}" alt="{{d.name}} image">
            <div class="card-body">
                <h4 class="card-title">{{d.name}}</h4>
                <h5 class="">{{d.manufacturers_name}}</h5>
                <ul class="list-group list-group-flush">
                <li class="list-group-item text-primary">Plastic: <span class="text-danger">{{d.plastic}}</span></li>
                <li class="list-group-item text-primary">Difficulty: <span class="text-danger">{{d.difficulty}}</span></li>
                <li class="list-group-item text-primary">Speed: <span class="text-danger">{{d.speed}}</span></li>
                <li class="list-group-item text-primary">Glide: <span class="text-danger">{{d.glide}}</span></li>
                <li class="list-group-item text-primary">Low Stability: <span class="text-danger">{{d.low_stability}}</span></li>
                <li class="list-group-item text-primary">High Stability: <span class="text-danger">{{d.high_stability}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}