{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="col-12">
            <h4 class="display-4">Forgot Your Password?</h4>
            <p class="lead">
                Don't worry, it happens to the best of us. Please enter in the email associated with your account below and we will send a password reset link.
            </p>
        </div>
        <div class="col-12">
            <form method="POST">
                {% include 'users/form.html' %}
            </form>
        </div>
    </div>
{% endblock %}