{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="col-12">
            <h4 class="display-4">Password Reset Form</h4>
            <p class="lead">
                Please enter in your old password in the first field. Then type your new password in twice to make sure they match.
            </p>
        </div>
        <div class="col-12">
            <form method="POST">
                {% include 'users/form.html' %}
            </form>
        </div>
    </div>
{% endblock %}