
<div class="flex-container">
    <div class="row" id="discs-display-container">
        {% for d in threads.items %}
        <div class="col-4 mb-4">
            <div class="card border-secondary"  id="{{d.id}}-card">
                <div class="m-auto w-75">
                    <img class="card-img-top disc-img" src="{{d.image_url}}" alt="{{d.name}} image">
                </div>
                <div class="card-body">
                    <h4 class="card-title"><a href="/discs/{{d.id}}">{{d.name.capitalize()}}</a></h4>
                    <h5 class="">{{d.manufacturers_name.capitalize()}}</h5>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Plastic: <span class="text-info">{{d.plastic.capitalize()}}</span></li>
                    <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Disc Type: <span class="text-info">{{d.disc_type.capitalize()}}</span></li>
                    <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Difficulty: <span class="badge badge-primary">{{d.difficulty}}</span></li>
                    
                    <li class="list-group-item text-primary d-flex justify-content-between align-items-center" data-toggle="popover" data-trigger="hover" 
                    title="What's Speed?" 
                    data-content="The speed of the disc is how hard the disc must be thrown to work correctly. The disc has a certain rating on it, represented by the numbers 1 through 15. A high speed disc is up at the top, let’s say around 12, 13, 14, and 15. As you get lower on that scale, the required amount of speed is less. A 1 speed disc requires very little effort and speed to work properly after it’s thrown.">
                        Speed: <span class="badge badge-primary">{{d.speed}}</span>
                    </li>

                    <li class="list-group-item text-primary d-flex justify-content-between align-items-center" data-toggle="popover" data-trigger="hover" 
                    title="What's Glide?" 
                    data-content="Glide is a disc’s ability to maintain loft during flight. Essentially, it is how long the disc can stay in the air. Glide is measured between 1 and 7, with 7 being the highest and 1 being the lowest amount of glide.">
                        Glide: <span class="badge badge-primary">{{d.glide}}</span>
                    </li>

                    <li class="list-group-item text-primary d-flex justify-content-between align-items-center" data-toggle="popover" data-trigger="hover" 
                    title="What's Turn?" 
                    data-content="The high-speed turn of a disc is its ability to turn over to the right after the disc is first thrown (rhbh thrower), usually with a fair amount of speed behind the disc. Turn is represented by the numbers 1 to -5. Discs with a score closer to -5 will have more turn.">
                        Turn: <span class="badge badge-primary">{{d.high_stability}}</span>
                    </li>

                    <li class="list-group-item text-primary d-flex justify-content-between align-items-center" data-toggle="popover" data-trigger="hover" 
                    title="What's Fade?" 
                    data-content="A disc’s low-speed fade is its ability to hook left at the end of the throw. Once a disc has made it through the majority of its flight and begins to slow down, the fade usually kicks in and the disc turns to the left (rhbh thrower). Fade ranges from 0 to 5 and the higher the number, the more the disc will fade.">
                        Fade: <span class="badge badge-primary">{{d.low_stability}}</span>
                    </li>

                    {% if d.disc_rec_based_on %}
                    <li class="list-group-item text-primary">Recommendation based on: <span class="text-danger">{{d.disc_rec_based_on}}</span></li>
                    {% endif %}
                    </ul>
                    {% if current_user.is_authenticated %}
                        {% if d in users_discs %}
                        <div class="row">
                            <div class="col-12">
                                <div class="btn btn-success w-100">Disc already in your quiver!</div>
                            </div>
                        </div>
                        {% elif d not in users_discs and d in user_wishes %}
                        <div class="row">
                            <div class="col-12">
                                <button data-id="{{d.id}}" data-button-type="add-to-bag" class="btn btn-primary w-100">Add to Bag</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="btn btn-success w-100" id="wish-{{d.id}}">Disc already in your wishlist!</div>
                            </div>
                        </div>
                        {% else %}
                        <div class="row">
                            <div class="col-12">
                                <button data-id="{{d.id}}" data-button-type="add-to-bag" class="btn btn-primary w-100">Add to Bag</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button data-id="{{d.id}}" data-button-type="add-to-wishlist" id="wish-{{d.id}}" class="btn btn-success w-100">Wishlist</button>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                    <div class="row">
                        <div class="col-12">
                            <a  href="/signup" class="btn btn-primary w-100">Signup to add discs to your quiver and wishlist!</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
