{% extends 'base.html' %}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="card-title display-4">{{disc.name.capitalize()}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="border-primary">
        </div>
    </div>
    <div class="row" id="discs-display-container">
        <div class="col-4">
            <img class="card-img-top" src="{{disc.image_url}}" alt="{{disc.name}} image">
        </div>
        <div class="col-8">
            <div class="card" id="{{disc.id}}-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            
                            <h5 class="d-flex justify-content-around align-items-center">Company: <span class="text-info">{{disc.manufacturers_name.capitalize()}}</span></h5>
                        </div>
                        <div class="col-4">
                            <h5 class="d-flex justify-content-around align-items-center">Plastic: <span class="text-info">{{disc.plastic.capitalize()}}</span></h5>
                        </div>
                        <div class="col-4">
                            <h5 class="d-flex justify-content-around align-items-center">Disc Type: <span class="text-info">{{disc.disc_type.capitalize()}}</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="border-primary mx-3">
                        </div>
                    </div>
                   <div class="row my-3">
                       <div class="col-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Difficulty: <span class="badge badge-primary">{{disc.difficulty}}</span></li>
                                <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Speed: <span class="badge badge-primary">{{disc.speed}}</span></li>
                                <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Glide: <span class="badge badge-primary">{{disc.glide}}</span></li>
                                <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Turn: <span class="badge badge-primary">{{disc.high_stability}}</span></li>
                                <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Fade: <span class="badge badge-primary">{{disc.low_stability}}</span></li>
                            </ul>
                       </div>
                       <div class="col-8">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Amount of people with this disc in their quiver: <span class="badge badge-primary">{{disc_count}}</span></li>
                                <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Amount of people with this disc in their wishlist: <span class="badge badge-primary">{{wish_count}}</span></li>
                            </ul>
                       </div>
                   </div>
                    {% if current_user.is_authenticated %}
                        {% if disc in users_discs %}
                            <div class="btn btn-success">Disc already in your quiver!</div>
                        {% elif disc not in current_user.discs and disc in users_wish_discs %}
                            <button data-id="{{disc.id}}" data-button-type="add-to-bag" class="btn btn-primary">Add to Bag</button>
                            <div class="btn btn-success">Disc in your wishlist!</div>
                        {% else %}
                            <button data-id="{{disc.id}}" data-button-type="add-to-bag" class="btn btn-primary">Add to Bag</button>
                            <button data-id="{{disc.id}}" data-button-type="add-to-wishlist" id="wish-{{disc.id}}" class="btn btn-success">Wishlist</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <h2>Reviews</h2>
        <div id="accordion" class="row">
            <div class="card col-12 p-0">
                <div class="card-header w-100 text-light bg-grey" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Reviews
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {% if reviews|length == 0 %}
                            <p>Looks like there are no reviews yet!</p>
                        {% endif %}
                        {% for r in reviews %}
                        <div class="col-10">
                            <div class="card">
                                <div class="card-header">
                                User: {{ r.username }}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{r.title}}</h5>
                                    <p>Throw Type: <span class="text-info">{{r.throw_type}}</span></p>
                                    <p class="card-text">{{r.content}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card col-12 p-0">
                <div class="card-header w-100 bg-primary" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Broken in Reviews
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        {% if broken_in_reviews|length == 0 %}
                            <p>Looks like there are no broken in reviews yet!</p>
                        {% endif %}
                        {% for r in broken_in_reviews %}
                        <div class="col-10">
                            <div class="card">
                                <div class="card-header">
                                {{ r.user.username }}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{r.title}}</h5>
                                    <p class="card-text">{{r.content}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card col-12 p-0">
                <div class="card-header w-100 bg-grey" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed text-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Review Disc
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        {% if current_user.is_authenticated %}
                            {% include 'users/form.html' %}
                        {% else %}
                            <div class="card card-body">
                                <p>Please <span><a href="/login">login</a></span> or <span><a href="/signup">signup</a></span> to leave a review!</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}