{% extends 'base.html' %}
{% block content %}
    
    <div class="container">
        
        <div class="row">
            <div class="col-12 text-center">
                <h3>Disc recommendations based on {{disc.name.capitalize()}}</h3>
            </div>
            <div class="col-10 m-auto">
                <div class="card pl-3">
                    <div class="row">
                      <div class="col-5">
                        <img class="card-img-top disc-img" src="{{disc.image_url}}" alt="{{disc.name}} image">
                        <h4 class="card-title"><a href="/discs/{{disc.id}}">{{disc.name.capitalize()}}</a></h4>
                        <h5 class="">{{disc.manufacturers_name.capitalize()}}</h5>
                      </div>
                      <div class="col-7">
                        <div class="card-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Plastic: <span class="text-info">{{disc.plastic.capitalize()}}</span></li>
                            <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Disc Type: <span class="text-info">{{disc.disc_type.capitalize()}}</span></li>
                            <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Difficulty: <span class="badge badge-primary badge-pill">{{disc.difficulty}}</span></li>
                            <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Speed: <span class="badge badge-primary badge-pill">{{disc.speed}}</span></li>
                            <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Glide: <span class="badge badge-primary badge-pill">{{disc.glide}}</span></li>
                            <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Turn: <span class="badge badge-primary badge-pill">{{disc.high_stability}}</span></li>
                            <li class="list-group-item text-primary d-flex justify-content-between align-items-center">Fade: <span class="badge badge-primary badge-pill">{{disc.low_stability}}</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2 bg-secondary text-light h-25 my-4">
            <p class="lead m-3">
                Use the box below to choose a disc from your quiver to see recommendations based on that disc.
            </p>
            <div class="m-3">
                {% include 'users/form.html' %}
            </div>
        </div>
        <div class="col-10 my-4 w-100">
            {% include 'discs/discs-display.html' %}
            {% include 'discs/discs-paginate.html' %}
        </div>
    </div>
    
{% endblock %}