<div class="container">
    <div class="row">
        <div class="col-10 m-5">
            {% for page in threads.iter_pages() %}
                {% if page %}
                    {% if request.endpoint == 'show_discs' %}
                        <a href="{{ url_for('show_discs', page_num=page) }}">{{ page }}</a>
                    {% elif request.endpoint == 'show_similiar_discs' %}
                        <a href="{{url_for('show_similiar_discs', disc_id=disc.id, page_num=page)}}">{{ page }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}

            {% endfor %}
        </div>
    </div>
</div>