{% extends 'base.html' %}
{% block content %}
    
<div class="container">
    <div class="row" id="users-wishlist-container">
    {% if discs|length == 0 %}
    <div class="col-12">
        <p>
            You have not added any discs to your wishlist yet! Head over to 
            <span><a href="/discs/discover/page/1">discover</a></span> 
            to search for discs you eventually want to add to your quiver. 
            You can also use the searchbar up top to search for discs by name.
        </p>
    </div>
    {% else %}
        {% for d in discs %}
        <div class="col-4">
            <div class="card" style="width: 18rem;" id="{{d.id}}-card">
                <img class="card-img-top" src="{{d.image_url}}" alt="{{d.name}} image">
                <div class="card-body">
                    <h4 class="card-title"><a href="/discs/{{d.id}}">{{d.name.capitalize()}}</a></h4>
                    <h5 class="">{{d.manufacturers_name.capitalize()}}</h5>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item text-primary">Plastic: <span class="text-danger">{{d.plastic}}</span></li>
                    <li class="list-group-item text-primary">Disc Type: <span class="text-danger">{{d.disc_type}}</span></li>
                    <li class="list-group-item text-primary">Difficulty: <span class="text-danger">{{d.difficulty}}</span></li>
                    <li class="list-group-item text-primary">Speed: <span class="text-danger">{{d.speed}}</span></li>
                    <li class="list-group-item text-primary">Glide: <span class="text-danger">{{d.glide}}</span></li>
                    <li class="list-group-item text-primary">Low Stability: <span class="text-danger">{{d.low_stability}}</span></li>
                    <li class="list-group-item text-primary">High Stability: <span class="text-danger">{{d.high_stability}}</span></li>
                    </ul>
                    <button data-id="{{d.id}}" data-button-type="wishlist-add-to-bag" class="btn btn-primary">Add to Bag</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
    
{% endblock %}